{% extends 'base.html' %}


{% block content %}
<!-- <div class="container my-4">
    <h3>LMAO!! clever are we? You need to pay for <b>{{content.title}}</b>  </h3>
   
    
</div> -->

<div class="container">
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Pricing</h1>
    <p class="lead">Join our investment club to gain access to exlusive video content as well as a comminity that cares about financial stability.</p>
  </div>



      <!-- first tag -->
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Free</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">NGN 0 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Acess to Free Video's</li>
            <li>Telegram Group Membership</li>
            <li>Random feature 1</li>
            <li>Random feature 2</li>
          </ul>
          <a href=""class="btn btn-lg btn-block btn-outline-primary">Sign up for free</a>
        </div>
      </div>
      <!-- end of first tag -->

      <!-- content 2 -->
      <div class="card mb-5shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Pro</h4>
        </div>
        
        <div class="card-body">
          <h1 class="card-title pricing-card-title">NGN2,500 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Exclusive Video's</li>
            <li>Telegram Group Membership</li>
            <li>Random feature 1</li>
            <li>Random feature 2</li>
          </ul>
          <a href=""class="btn btn-lg btn-block btn-primary">Get started</a>
        </div>
      </div>
      <!-- end of content 2 -->



    </div>
       
   

  



{% endblock  %}
