@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Condensed&display=swap');

h1,h2,h3,h4{
 
  font-family: 'Roboto Condensed', sans-serif;
}

ion-icon {
    vertical-align:middle;
    color: #1865f2;
  }

p{
  font-family: 'Roboto Condensed', sans-serif;
}

#read{
  color:green;
}

#notificationList{
  cursor: pointer;
}

.contentLinks{
  text-decoration: none;
  color: inherit;
}

.contentLinks:hover{
  text-decoration: none;

}