{% load static %}
{% load time_elapsed %}

<h6 class="h6Highlight">Questions</h6> 
<div class='horizontalRule'>
 <div class="commentFlexWrapper" >

   {% if request.user.is_authenticated %}
   <img  id="avatar" src="{% static 'content/img/belerin.png' %}"alt="">
   <form action="" method="POST" id="myComment">
     {% csrf_token %}
    
       {{comment_form}} 


     <div  class="askAQuestion">
       <button >Ask question</button>
     </div>
   </form>

   {% else %}
   <div  class="loginToAsk">
    <a href="{% url 'account_login' %}" class="signUpWrapper">Login to Ask</a>
   </div>
   {% endif %}
      </div> <!-- end of commentFlexWrapper -->
</div>  <!-- end of horizontal rule -->





<div class="commentFlexWrapper2 needMargin">
{% for comment in  comments %}
   <img  id="avatar" src="{% static 'content/img/belerin.png' %}"alt="">
   <div class="detailList">
   <h6>{{comment.user.first_name}}<span> <small >{{comment.created|time_elapsed}}</small></span></h6>
   <p>{{comment.get_comment}}</p>
   <div>
  
  {% if request.user.is_authenticated %}
     <small class="baseSmall replyButton">Reply</small>
  {% endif %}
    
   <small class="baseSmall commentButton">27 comments</small>
 </div>   



    <!-- start of reply form -->
   {% if request.user.is_authenticated %}
   <form action="" method="POST" id="myComment" >
     {% csrf_token %}
     <div class="replygroup">  
       {{comment_form}}
       <input type="hidden" name="main_comment" value='{{comment.id}}'>
     <div  class="askAQuestion">
       <button >Comment</button>
     </div>
   </div>  <!-- end of reply group -->

  
   </form>
   {% else %}
   <div  class="loginToAsk replygroup">
    <a href="{% url 'account_login' %}" class="signUpWrapper">Login to Reply</a>
   </div>
   {% endif %}

     <!-- end of reply form -->

     <hr>

    

    <div class="commentFlexWrapper2 needMargin commentReplyList noDisplay">  <!-- beiging of comment image split -->
    {% for reply in comment.comment_replies %} 
   

     
     <div class="detailList ">
       <h6>{{reply.user.first_name}}<span> <small >{{reply.created|time_elapsed}}</small></span></h6>
       <p> {{reply.content}}</p>
     </div>  <!-- end of detail list -->
     {% endfor %}  
  
   </div>   <!-- end of comment image split -->


      

</div>   <!-- end of detail list -->
{% endfor %}
<!-- end of comment for loop -->

      <button class="showMore signUpWrapper">Show More</button>

</div><!-- end of img and textsplit -->

</div> <!-- end of commentSection -->

